
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  border: 1px solid red
} 

/* body {
   background-image:url("https://i.ibb.co/HNG115g/joel-muniz-l-UK16p-Jt-CM-unsplash.webp");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: auto;
} */

.benefit{
  background-image: url('https://i.ibb.co/WtpTX83/hush-naidoo-jade-photography-23h4t-MUz-GZk-unsplash.jpg');
  background-position: center;
  height: 5200px;
  background-size: cover;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  object-fit: cover;
}

